.outer_container {
    background-image: url(../Assets/images/Abouus.svg);
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.text_container{
    width: 80%;
    height: 30vh;
    background-color: #E0E0FD;
    margin-left: 7%;
    margin-top: 25%;

    }
.text_container h2{
    padding-top: 15px;
    color: #111111;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    
}
.text_container p {
    color: #5E5E5E;
    font-family: 16px;
    margin-top: 10px;
}
.text_container Button {
    margin-left:45% ;
    background-color: #0D265B;
    color: #E0E0FD;
    border: 1px solid #0D265B;
    
    padding: 10px 20px;
    margin-top: 3%;
    text-align: center;
    border-radius: 15px;
}



