.footer_container{
    background-color: #0D265B;
    color: #F4F3F6;
    display: flex;
    padding: 40px 10%;
    justify-content: space-between;
    /* margin-top: 10%; */
    /* height: 40vh; */
    /* gap: 30px; */
   }


   .footerMenu {
    display: flex;
    align-items: start;
    /* justify-content: center; */
    flex-direction: column;
    text-align: start; 
      
    margin-bottom: 10px;
    /* font-size: 18px;
    font-weight: 700;
    color: red; */

   
}

.footerMenu p {
    
    font-size: 16px;
    text-align: start;
    margin-right: 10%;
    color: white;
    margin-top: 5%;
    opacity: 5px;
}

.footerMenu h4 {
   font-size: 18px;
   font-weight: 700; 
   color: white;
  
   }


.para {
    color:white;
    text-align: start;
    margin-top: 5%;
    font-size: 14px;
    margin-right: 20px;
}
.footheading {
    font-size: 14px;
    margin-top: 10px;
}

.footerForm input {
    width: 250px;
    color: white;
    border: 1px solid white;
    border-radius: 25px;
}

.footerForm ::placeholder{
    color: grey;
    font-size: 10px;
}

 .footerbutton{
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 25px;
    width: 90px;
    height: 30px;
    font-size: 10px;
    margin-top: -10px;
    text-align: center;
    /* margin-right: 10%; */
} 

hr {
    margin-top: 10%;
    width: 100%;
}

.footerbottom {
     display: flex;
    justify-content: center;
    align-items: end; 
}




/* .menutitle{
     display: flex;
    align-items: start;
     gap: 10px;
     margin-right: 10%;

}

.menupara {
    font-size: 12px;
    color: red;
    text-align: start;

    
   }  */