.background {
   
    padding: 80px 20px;
    display: flex;
    flex-direction: column;

     /* Background color outside container */
}
.signin_image {
    display: flex;
    gap: 30px;
    
    padding: 20px;
}
.login, a {
    
    font-size: 14px;
    
}
.forgot {
    font-size: 40px;
}


.forgot_field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:start;
    
}
form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 95%;
}
.sideimage {
    width: 600px;
    height: 500px;
}
