body {
    background-color: #E0E0FD;
}
.getintouch_container {
    max-width: 100%;

    margin-left: 5%;
    padding-top: 5%;
    margin-left: 6%;
    border: 5px solid blue;
    background-color: white;
    margin-top: 10%;
}
.Getin_touch {
    background-color: white;
    width: 90%;
    height: 50vh;
    display: flex; 

    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    padding: 30px 22%;
}
.firstContainer {
    width: 50%; 
    height: 45vh;
    border: 2px solid #E0E0FD;
    margin-left: -25%;
    display: flex;
    flex-direction: row;
    background-color: #E0E0FD;
    margin-top: -5%;
    
}

.Icons {
    padding: 10px;
     display: flex;
    flex-direction: column;
    padding-left: 15px;
    font-size: 14px;
    color: #0D265B;
}
.secondContiner {
    background-color: #E0E0FD;
    margin-left: 20px;
    padding-left: 20px;
    height: 50vh;
    width: 150%;
    margin-top: -10%;
    margin-left: 50%;
    
}

.getintouchdesc  {
    color:#111111;
    text-align: start;
    font-weight: 500;
    font-size: 20px;
    margin-top: 5%;
}
.abtContact {
    display: flex;
    flex-direction: column;
}
input {
    width: 250px;
    height: 40px;
    margin-top: 5%;
}



.formGroup textarea {
    width:250px;
    height: 100px;
    
   }

.getbtn {
    background-color: #0D265B;
    height: 40px;
    margin-top: 5%;
    color: white;
    border: 1px solid #0D265B;
    width: 250px;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   
}