.productHero {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.productImg img {
    width: 450px;
    height: 450px;
    margin-top: 30%;
    margin-left: -30%;
     }
.productpageHead h1 {
    font-size: 48px;
    color: #0D265B;
    text-align: start;
    font-weight: 700;
    margin-top: 20%;
    margin-left: 20%;
     }

.productpageHead p {
    color:#0D265B ;
}

.productpageHead button {
    background-color: #0050BE;
    border: 1px solid #0050BE;
    border-radius: 15px;
    color: white;
    padding: 7px 10%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 14px;
}
    

    