.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 100px 20%;
    background-color: #E0E0Fd;
    width: 100%;
   
    
}


 h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.contactFrm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

input {
    width: 350px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #0D265B;
    /* border: 1px solid #E0E0Fd; */
}

textarea{
    width: 350px;
    height: 150px;
    background-color: transparent;
    border: 1px solid #0D265B;
    /* border: 1px solid #E0E0Fd; */
}

   
.contactbtn{
    align-items: center;
    width: 350px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    background-color: #0050BE;
    border: 1px solid #0050BE;
    border-radius: 5px;

} 

.contactimg {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 50%; */
}

.picture {
    width: 300px;
    height: 300px;
    margin-top: -110%;
       margin-left: 270%;
   

}