.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 100px 20%; */
    background-color: #E0E0Fd;
    width: 100%;
    margin-top: 10%;
   
    
}
.checkbox {
    width: 10px;
    height: 10px;
}


.ContactUs {
    text-align: start;
    font-size: 25px;
    font-weight: 700;
    margin-top: 10%;
    color: black;
    margin-left: -60%;
    
}
.checkboxLabel {
    
  
  text-align: start; 
}

.contactFrm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 5%;
    margin-left: -70%;
}


 textarea{
     width: 400px; 
    height: 100px;
    background-color: transparent;
    border: 1px solid #0D265B;
    /* border: 1px solid #E0E0Fd; */
}  
.inputField {
    width: 400px;
    background-color: transparent;
    border: 1px solid #0D265B;
    margin-top: -1%;
}

   
.contactbtn{
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    background-color: #0050BE;
    border: 1px solid #0050BE;
    border-radius: 25px;
    margin-left: 30%;
    margin-top: 2%;
    padding: 5px 5%;
    
    


}

.contactimg {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 50%; */
}

.picture {
    width: 350px;
    height: 250px;
    margin-top: -70%;
       margin-left: 30%;
   

}

.Terms {
    margin-top: 5%;
    
    /* background-color: red;  */
    
}