.background {
    background-color: #fff;
    padding: 80px 20px;
    
}

.signup_image {
    display: flex;
    /* flex-direction: row; */
    gap: 10px;
    background-color: #E0E0FD;
    justify-content: space-around;
    padding-top: 40px;
    
}
.headerpassage {
    position: relative;
    bottom: 28px;
    color: #0D265Bed;
    font-size: 40px;
    display: flex;
    justify-content: start;
}
form {
    display: flex;
    flex-direction: column;
   
}
.forms, .nameforms {
    display: flex;
    gap: 10px;
    
    
}
.nameforms input {
    width: 250px;
    height: 48px;
    border: 1px solid #000;
    background-color: transparent;
}
.email_company input {
    width: 520px;
    height: 48px;
    border: 1px solid #000;
    background-color: transparent;
}


.checkbox {
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    right: 10px;
    text-wrap: nowrap;
    /* background-color: red; */
    
}

.alternativeLogin {
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #919191;
    font-size: 14px;

}


.signupicons{
font-family: Nunito;
font-size: 12px;
font-weight: 400;
line-height: 14px;
letter-spacing: 0.008em;
text-align: left;
}
.socialIcons {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-bottom: 40px;
   
}
.google, .facebook, .twitter{
    border: 1px solid rgba(0, 0, 0, 1);
    width: 24px;
    height: 24px;
    padding: 10px 30px;
    border-radius: 4px;
}
.sideimage {
    width: 600px;
    /* height: 647.65px; */
    gap: 0px;
    opacity: 0px;
    
    padding-top: 50px;
}
::placeholder {
    padding-left: 10px;
    font-size: 16px;
   color: rgba(71, 71, 71, 0.4);
   
}
.signupBtn {
    color: white;
    background-color: blue;
    width: 600px;
    height: 7vh;
    border: 1px solid blue;
    border-radius: 25px;
    cursor: pointer;
}
/* .sideimage {
    width: 400px;
} */

