.container {
height: 60vh;
    background-color: #F6F6F6;
      display: flex;
    justify-content: center; 
       align-items: center;  
      border: 5px solid #0D265B;
      border-radius: 15px;
      padding: 10px 10%;  
      margin-top: 10%;
      
}  



.testimonial {
    display: flex;
   flex-direction: column;
    align-items: center; 
     background-color: white;
     width: 200px;
     height: 215px;
     text-align: center;
    /* margin-top: 10%; */
    /* padding: 10px 5%; */
     margin-right: 25px; 
     border-radius: 5px;
     
}

.Quote {
     width: 50px; 
    height: 50px;
    margin-left: -80%;
}

 .testimonial p{
    display: flex;
    color: black;
    font-size: 12px;
    } 
 img.Lora {
    
    color: white;
     
    width: 50px;
    height: 0px;
    margin-left: 10%;
    
    
} 

img.Olivia {
    margin-top: -15%;
    color: white;
    margin-top: 13%;
    width: 150px;
    height: 50px;
    margin-right: 35%;

}
img.Ann{
    margin-top: -15%;
    color: white;
    margin-top: 5%;
    width: 150px;
    height: 50px;
    margin-left: -15%;

}

