.Protection {
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center;
    padding: 20px 75px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 23px;
    margin-right: -120%;
    margin-top: 15%;

}

.content {
    display: flex;
    flex-direction: column;
   }

.text {
    padding-right: 20px; /* Add spacing between text and image */
    font-size: 12px;
    margin-top: 10%;
    /* text-align: start; */

}

.text h2{
    color:black;
    font-size: 20px;
    font-weight: bold;
    text-align: start;
    

}

    .text p{
        font-size: 14px;
        text-align: start;
    }

.image {
    width: 50%; /* Adjust the width as needed */
}

.image img {
    width: 558px;
    height: 413px;
    margin-top: 20%;
}